<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="Dbconnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\PC-DELL\Documents\visual studio 2017\WebSites\LojaDepartamento\App_Data\BancoDepartamento.mdf;Integrated Security=True"/>
  </connectionStrings>

</configuration>